In [2]:
#If-then 
x=0
if(x==0):
    print(x,"is zero")
elif (x>0):
    print(x,"is postive ")
else: 
    print(x,"is negative")

0 is zero

In [3]:
#Ternary Operators
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [4]:
#AND, OR NOT can be inserted likewise 
a=3
b=2
if a>b and a!=b : print(a)

3

In [5]:
#Pass Statement
a = 33
b = 200

if b > a:
  pass

In [6]:
#Loops
#For Loop
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [7]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [8]:
for a in [1,2,3,4,5]:
    print(a)

1
2
3
4
5

In [9]:
#break statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [10]:
#continue
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [20]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [23]:
for x in range(1,5,2):
    print(x)

1
3

In [24]:
#Else in a loop 
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [26]:
for x in range(6):
  if x == 3: break
  print(x)

print("Finally finished!")

0
1
2
Finally finished!

In [28]:
for x in range(5):
    print(x,end=' ')

0 1 2 3 4

In [31]:
#while loops
i=10
while i>6:
    i-=1
    print(i,end='')

9876

In [33]:
a,b,c=1,2,3
print(a,b,c)
a,c=a+b,c+a
print(a,b,c)

1 2 3
3 2 4